global_defs {
    router_id {{ keepalived_router_id }}
    script_user root
    enable_script_security
}

vrrp_script check_haproxy {
    script "/usr/bin/pgrep -x haproxy"
    interval 2
    weight -30
    fall 2
    rise 2
}

vrrp_instance k8s_api {
    state {{ keepalived_state }}
    interface {{ keepalived_interface }}
    virtual_router_id {{ keepalived_virtual_router_id }}
    priority {{ keepalived_priority }}
    advert_int 1

    unicast_src_ip {{ keepalived_src_ip }}

    unicast_peer {
        {{ keepalived_peer_ip }}
    }

    virtual_ipaddress {
        {{ keepalived_api_vip }}/24 dev {{ keepalived_interface }}
    }

    track_script {
        check_haproxy
    }
}

vrrp_instance service_vip {
    state {{ service_vip_state }}
    interface {{ service_vip_interface }}
    virtual_router_id {{ service_vip_virtual_router_id }}
    priority {{ service_vip_priority }}
    advert_int 1

    unicast_src_ip {{ service_vip_src_ip }}
    unicast_peer {
        {{ service_vip_peer_ip }}
    }

    virtual_ipaddress {
        {{ service_vip_address }}/24 dev {{ service_vip_interface }}
    }

    track_script {
        check_haproxy
    }
}
