apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: {{ argocd_application_name }}
  namespace: {{ argocd_namespace }}

spec:
  project: {{ argocd_project }}

  source:
    repoURL: https://github.com/{{ application_github_owner }}/{{ application_github_repository }}.git
    targetRevision: {{ application_git_branch }}
    path: {{ application_kustomize_path }}

  destination:
    server: https://kubernetes.default.svc
    namespace: {{ argocd_destination_namespace }}

{% if argocd_automated_sync | bool %}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
{% endif %}
