---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ k3s_argocd_namespace }}

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ k3s_argocd_service_account_name }}
  namespace: kube-system

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ k3s_argocd_token_secret_name }}
  namespace: kube-system
  annotations:
    kubernetes.io/service-account.name: {{ k3s_argocd_service_account_name }}
type: kubernetes.io/service-account-token

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ k3s_argocd_role_name }}
  namespace: {{ k3s_argocd_namespace }}
rules:
  - apiGroups:
      - "*"
    resources:
      - "*"
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ k3s_argocd_role_name }}
  namespace: {{ k3s_argocd_namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ k3s_argocd_service_account_name }}
    namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ k3s_argocd_role_name }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ k3s_argocd_namespace_reader_role_name }}
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
    resourceNames:
      - {{ k3s_argocd_namespace }}
    verbs:
      - get

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ k3s_argocd_namespace_reader_role_name }}
subjects:
  - kind: ServiceAccount
    name: {{ k3s_argocd_service_account_name }}
    namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ k3s_argocd_namespace_reader_role_name }}
