$TTL 86400

@   IN  SOA   infra.nplan.local. admin.nplan.local. (
        2026082401
        3600
        1800
        604800
        86400
)

    IN  NS    infra.nplan.local.

; ============================================================
; Management Network - 192.168.14.0/24
; ============================================================

infra           IN A 192.168.14.62

lb1             IN A 192.168.14.11
lb2             IN A 192.168.14.12

devops          IN A 192.168.14.21

cp1             IN A 192.168.14.31
cp2             IN A 192.168.14.32
cp3             IN A 192.168.14.33

worker1         IN A 192.168.14.41
worker2         IN A 192.168.14.42
worker3         IN A 192.168.14.43

db-primary      IN A 192.168.14.51
db-replica      IN A 192.168.14.52

nfs             IN A 192.168.14.61


; ============================================================
; DMZ Network - 192.168.24.0/24
; ============================================================

lb1.dmz         IN A 192.168.24.11
lb2.dmz         IN A 192.168.24.12


; ============================================================
; Internal Kubernetes Network - 192.168.34.0/24
; ============================================================

lb1.k8s         IN A 192.168.34.11
lb2.k8s         IN A 192.168.34.12

devops.k8s      IN A 192.168.34.21

cp1.k8s         IN A 192.168.34.31
cp2.k8s         IN A 192.168.34.32
cp3.k8s         IN A 192.168.34.33

worker1.k8s     IN A 192.168.34.41
worker2.k8s     IN A 192.168.34.42
worker3.k8s     IN A 192.168.34.43

infra.k8s       IN A 192.168.34.62

api.k8s         IN A 192.168.34.100


; ============================================================
; Data Network - 192.168.44.0/24
; ============================================================

worker1.data    IN A 192.168.44.41
worker2.data    IN A 192.168.44.42
worker3.data    IN A 192.168.44.43

db-primary.data IN A 192.168.44.51
db-replica.data IN A 192.168.44.52

nfs.data        IN A 192.168.44.61
infra.data      IN A 192.168.44.62
