---
apiVersion: v1
kind: Secret
metadata:
  name: {{ argocd_dr_cluster_secret_name }}
  namespace: {{ argocd_main_namespace }}
  labels:
    argocd.argoproj.io/secret-type: cluster
type: Opaque
data:
  name: "{{ argocd_dr_cluster_name | b64encode }}"
  server: "{{ argocd_dr_server | b64encode }}"
  namespaces: "{{ argocd_dr_managed_namespace | b64encode }}"
  config: "{{ {
    'bearerToken': argocd_dr_bearer_token,
    'tlsClientConfig': {
      'insecure': false,
      'caData': argocd_dr_ca_data
    }
  } | to_json | b64encode }}"
